<h1>{{survey?.title}} </h1>
<div *ngIf="survey?.isPublished" class="alert alert-warning" role="alert">
    This survey has been published.
</div>

<form [formGroup]="form">

    <div class="row">
        <mat-form-field class="col-4">
            <mat-label>Id</mat-label>
            <input matInput formControlName="id">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-4">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-4">
            <mat-label>Description</mat-label>
            <input matInput formControlName="desc">
        </mat-form-field>
    </div>
    <div class="row">
        <div class="col-2">
            <h3>Questions</h3>
        </div>        
        <div class="col">
            <button mat-button [disabled]="addEnabled" (click)="add()" color="primary">
                <mat-icon>add</mat-icon>
            </button>            
        </div>       
    </div>
   
    <ng-container formArrayName="questions">
        <div class="row" *ngFor="let qc of questionsControls; let i=index">
            <mat-form-field class="col">
                <mat-label>Question {{i+1}}</mat-label>
                <ng-container [formGroupName]="i">
                    <textarea matInput formControlName="content"></textarea>
                </ng-container>
            </mat-form-field>
        </div>
    </ng-container>

    <button mat-flat-button color="warn" [disabled]="submitEnabled" (click)="save()" type="button">Save</button>&nbsp;
    <button mat-flat-button color="warn" (click)="cancel()" type="button">Cancel</button>


</form>