<h2>Please Sign in</h2>
<br>
<form [formGroup]="form">

    <p>
        <mat-form-field appearance="fill">
            <mat-label>UserName</mat-label>
            <input type="text" matInput formControlName="userName">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
        </mat-form-field>
    </p>

    <p>
        <mat-checkbox [formControl]="keep">Hide required marker</mat-checkbox>
    </p>

    <p *ngIf="message" class="alert alert-danger" role="alert">
        {{message}}
    </p>

    <p>
        <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid" (click)="login()">Login</button>
    </p>
</form>