<div class="row">

    <h2>Login</h2>
    <form [formGroup]="form">
        <div class="mb-3 row">
            <label class="form-label col-sm-2">UserName:</label>
            <div class="col-sm-8">
                <input type="text"
                       class="form-control "
                       formControlName="userName">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="form-label col-sm-2">Password:</label>
            <div class="col-sm-8">
                <input type="password"
                       class="form-control"
                       formControlName="password">
            </div>
        </div>

        <div class="mb-3 row">

            <div class="offset-sm-2 col-sm-8 form-check">
                <input class="form-check-input"
                       type="checkbox"
                       formControlName="keep"
                       id="flexCheckDefault">
                <label class="form-label">Keep me Signed in</label>
            </div>
        </div>

        <div class="mb-3 row">

            <button class="btn btn-primary offset-sm-2 col-sm-2"
                    type="submit"
                    [disabled]="form.invalid"
                    (click)="login()">Login</button>

        </div>

        <div class="col-12">
            <div *ngIf="message"
                 class="alert alert-danger"
                 role="alert">
                {{message}}
            </div>
        </div>

    </form>

</div>