<div class="row">
    <div class="col">
        <button class="btn btn-success">Add</button>
        <table class="table">
            <thead>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>Is Published</th>
            </thead>
            <tbody>
                <tr *ngFor="let survey of surveys$ | async" class="col-sm-4">
                    <td>
                        <a [routerLink]="['/authorized','details',survey.id]">{{survey.id}}</a>
                    </td>
                    <td>
                        {{survey.title}}
                    </td>
                    <td>
                        {{survey.desc}}
                    </td>
                    <td>
                        {{survey.creationTime.toString()}}
                    </td>
                    <td>
                        {{survey.isPublished}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>